<div>
    <div>Inscripcion de cursos</div>
    <div>
        <form action="/" method="POST">
        ID Curso<input type="number" name="idCurso" required/>
        Nombre Curso<input type="text" name="nombreCurso" required/>
        Descripcion<input type="textarea" name="descripcion" required/>
        Valor<input type="number" name="valor"/>
        Modalidad<input type="text" name="modalidad"/>
        Intensidad Horaria<input type="number" name="intensidad"/>
        <button>Ingresar Curso</button>
        </form>
        
    </div>
</div>