<p>
    <ul>
        <li>
            <a href="cursos">Ingresar Cursos</a>            
        </li>
        <li>
            <a href="listadoCursos">Listado de Cursos</a>           
        </li>
        <li>
            <a href="InscribirseCurso">Inscribirse a un curso</a>           
        </li>
    </ul>
</p>