<div>
    <div>Inscripcion a cursos</div>
    <div>
        <form action="/InscribirAspirante" method="POST">
        Nombre Completo<input type="text" name="nombreAspirante" required/>
        Documento de identidad<input type="number" name="documentoAspirante" required/>
        Correo Electronico<input type="text" name="correoAspirante"/>
        Telefono<input type="text" name="telefonoAspirante"/>
        Curso{{{listarCursosAspirante}}}
        <button>Inscribirme</button>
        </form>
        
    </div>
</div>